name: CI/CD Pipeline

on:
  push:
    branches:
      - main

env:
  # Имя ACR из GitHub Secret
  ACR: ${{ secrets.AZURE_ACR_NAME }}
  # SSH доступ до VM
  VM_HOST: ${{ secrets.VM_HOST }}
  VM_USER: ${{ secrets.VM_USER }}
  SSH_KEY: ${{ secrets.SSH_KEY_NEW }}
  # Сервисный принципал ACR
  ACR_SP_ID: ${{ secrets.ACR_SP_ID }}
  ACR_SP_PASSWORD: ${{ secrets.ACR_SP_PASSWORD }}

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:
    # ----------------- Checkout -----------------
    - name: Checkout repository
      uses: actions/checkout@v4

    # ----------------- Azure Login -----------------
    - name: Azure Login
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALSS }}

    # ----------------- Login to ACR -----------------
    - name: Login to ACR
      run: echo "${ACR_SP_PASSWORD}" | docker login $ACR --username $ACR_SP_ID --password-stdin

    # ----------------- Build & Push Images -----------------
    - name: Build & Push vote
      run: |
        docker build -t $ACR/vote:latest ./vote
        docker push $ACR/vote:latest

    - name: Build & Push result
      run: |
        docker build -t $ACR/result:latest ./result
        docker push $ACR/result:latest

    - name: Build & Push worker
      run: |
        docker build -t $ACR/worker:latest ./worker
        docker push $ACR/worker:latest

    # ----------------- Deploy to VM -----------------
    - name: Deploy to VM
      uses: appleboy/ssh-action@v1
      with:
        host: ${{ env.VM_HOST }}
        username: ${{ env.VM_USER }}
        key: ${{ env.SSH_KEY }}
        port: 22
        script: |
          cd /home/${{ env.VM_USER }}/voting-app
          docker compose pull
          docker compose up -d --remove-orphans
